.login { 
    background: 
        linear-gradient(290deg, #ffffff 50%, transparent 50%) center center,
        url("../../compose/cleaner.jpg") left center / auto 100%;
    ;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width:800px)  {
    .login { 
        background-image: url("../../compose/cleaner.jpg");
    }
}